.heading {

    background-color:#563d76;
    min-height: 60px;
    padding: 10px 10px;
    position: -webkit-sticky;
    position: sticky;
  
    z-index: 1;
   
}
.logo
{
    font-size: 25px;
    border: 1px solid #cbbde2;
    border-radius: 10%;
    color: #fff;
    
    
    padding: 0px 10px;
}